<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Fusion_Lab_Reports.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Fusion_Lab_Reports.Properties.Settings.ConnectionString"
      connectionString="Dsn=Excel Files;dbq=E:\CDBUZ\PROJECTS\FusionLabReports\DATASOURCES\Somerset Stars Fusion Lab.xlsx;defaultdir=E:\CDBUZ\PROJECTS\FusionLabReports\DATASOURCES;driverid=1046;maxbuffersize=2048;pagetimeout=5"
      providerName="System.Data.Odbc" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <applicationSettings>
    <Fusion_Lab_Reports.Properties.Settings>
      <setting name="Session" serializeAs="String">
        <value>2016 Fall</value>
      </setting>
    </Fusion_Lab_Reports.Properties.Settings>
  </applicationSettings>
</configuration>